.Navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 20px;
  height: 40px;
  width: 100vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  background: rgba(60, 59, 59, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

.__nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
